body{
    margin: 0;
    padding: 0;
    background-color: #333;
    
}
.app-container{
    border:1px solid #fff;
    width: 500px;
}

.sqare-container{
    display: block;
    margin: 10px;
    width: 100px;
    height: 100px;
}